.product {
  padding-top: 120px;
  padding-bottom: 168px;
}

.product-row {
  display: flex;
  justify-content: space-between;
}

.product-img-wrapper {
  position: relative;
  margin-right: 86px;
  padding-left: 60px;
  padding-bottom: 74px;
}

.product-img {
  border-radius: 18px;
}

.product__card {
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.product__content {
  max-width: 584px;
}

.product__title {
  font-size: 25px;
  font-weight: 600;
  line-height: 157%;
}

.product__title + * {
  margin-top: 10px;
}

.product__subtitle {
  font-family: 'Georgia', serif;
  font-size: 50px;
  font-weight: 700;
  color: #01996d;
  line-height: 157%;
}

.product__subtitle + * {
  margin-top: 20px;
}

.product__text {
  max-width: 530px;
  line-height: 144.5%;
}

.product__text + * {
  margin-top: 40px;
}

.product-btn {
  display: flex;
}
